{
  "extends": [
    "airbnb-base",
    "plugin:import/typescript"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "arrow-parens": 0,
    "no-await-in-loop": 0,
    "no-restricted-syntax": 0
  },
  "env": {
    "jest": true
  }
}
